#counter1 {
  p {
    color: red;
  }
  border-color: green;
}


.counter-app {
  border: dashed;
  border-color: black;
  border-width: 5px;

  font-family: "Old English Text MT";
  color: rebeccapurple;

}


